{% extends 'base.html.twig' %}

{% block title %}RWAR!{% endblock %}

{% block body %}
    <div id="subreddit-toolbar" class="row" style="padding-top: 10px">
        <div class="col-md-12" style="text-align: center">
            <span style="display: inline-block">
                <a id="link-favourite"
                   href="{{ url('wallpaper_favourite', {id: wallpaper.id, subredditId: wallpaper.subreddit.id}) }}">Favourite
                    (w)
                </a>
                |
                <a id="link-reject"
                   href="{{ url('wallpaper_reject', {id: wallpaper.id, subredditId: wallpaper.subreddit.id}) }}">Reject
                    (s)
                </a>
                |
                <a id="link-set" href="{{ url('wallpaper_set', {id: wallpaper.id, subredditId: wallpaper.subreddit.id}) }}">Set
                    (z)
                </a>
            </span>

            <span class="float-right" style="display: inline-block">
                {% if is_downloading %}
                    <span class="btn btn-sm btn-primary" id="downloader">Downloader Running</span>
                {% else %}
                    <span class="btn btn-sm btn-dark" id="downloader">Downloader Stopped</span>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            {% for subreddit in subreddits %}
                {% set numUnratedWallpapers = subreddit.numUnrated %}
                {% if numUnratedWallpapers > 0 %}
                    <a href="{{ url('wallpaper', {id: wallpaper.subreddit.id}) }}"
                            {% if subreddit.name == wallpaper.subreddit.name %}
                                style="font-weight: bold"
                            {% endif %}
                    >
                        /r/{{ subreddit.name }}
                    </a> ({{ subreddit.numUnrated }})<br>
                {% else %}
                    /r/{{ subreddit.name }}<br>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-8" style="text-align: center">
            <a href="{{ wallpaper.url }}" target="_blank">
                <img alt="wallpaper" id="wallpaper-image" src="{{ wallpaper.imageUrl }}"
                     style="width: 100%; padding: 10px;"/>
            </a>
            <div id="image-resolution"></div>
        </div>
    </div>
{% endblock %}
